
/*-- -------------------------- -->
<---          Timeline          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #timeline-970 {
    padding: var(--sectionPadding);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #1E1F2F;
    /* clips the white line through the bullets */
    overflow: hidden;
  }
  #timeline-970 .cs-container {
    width: 100%;
    /* changes to 1440px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #timeline-970 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #timeline-970 .cs-title {
    max-width: 14ch;
    color: var(--bodyTextColorWhite);
  }
  #timeline-970 .cs-text {
    max-width: 30.625rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #timeline-970 .cs-card-group {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* 40px - 80px */
    gap: clamp(2.5rem, 6vw, 5rem);
    position: relative;
  }
  #timeline-970 .cs-card-group:before {
    /* white line through the bullets */
    content: "";
    width: 1px;
    background: #484848;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    /* send it way down to reach the bottom of the section, and have some overlap so if you add content and the ul gets longer, it will still be at the bottom */
    bottom: -18.75rem;
    /* half the width of the bullet */
    left: 0.375rem;
  }
  #timeline-970 .cs-item {
    width: 100%;
    max-width: 25rem;
    list-style: none;
    padding: 0 0 0 3.25rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    position: relative;
  }
  #timeline-970 .cs-icon {
    width: 3.0rem;
    height: auto;
    /* 32px - 40px */
    margin: 0 0 clamp(2rem, 3vw, 2.5rem);
  }
  #timeline-970 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 500;
    /* changes to 100% at tablet */
    width: 80%;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #timeline-970 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #timeline-970 .cs-container {
    max-width: 90rem;
  }
  #timeline-970 .cs-card-group {
    flex-direction: row;
  }
  #timeline-970 .cs-card-group:before {
    width: 80%;
    height: 1px;
    top: auto;
    bottom: 0.375rem;
    /* these next two properties center the line in the UL */
    left: 50%;
    transform: translateX(-50%);
  }
  #timeline-970 .cs-item {
    padding: 0 0 4.125rem 0;
    z-index: 1;
  }
  #timeline-970 .cs-h3 {
    width: 100%;
  }
}
